//brand-color
$brand-color-fancy-top: #4b34e4;
$brand-color-fancy-bottom: #ee346b;

$brand-color-dark: #181818;

//secondary-colors

$secondary-colors-dark: #000000;
$secondary-colors-grey: #262a2c;
$secondary-colors-light: #ffffff;

//greyscaleg
$greyscale-100: #f9fafb;
$greyscale-200: #f4f4f6;
$greyscale-300: #e5e6eb;
$greyscale-400: #d3d5da;
$greyscale-500: #9ea3ae;
$greyscale-600: #6c727f;
$greyscale-700: #4d5461;
$greyscale-800: #394150;
$greyscale-900: #212936;
$greyscale-1000: #0b0a0f;
