@import "../utils/container.scss";
@import "../component/button.scss";
.app-header {
  @include container-widths;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo-box {
    img {
      width: 72px;
      height: 52px;
    }
  }
  &__btn-box {
    display: flex;
    align-items: center;
    margin-right: 15px;
    &__btn {
      @include defaultBtn;
    }
    &__ornamental-btn {
      @include ornamentalBtn;
      margin-left: 36px;
    }
  }
  &__mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .app-header {
    &__logo-box {
      img {
        width: 55px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .app-header {
    &__logo-box {
      img {
        width: 58px;
        height: 42px;
      }
    }
    &__btn-box {
      display: none;
    }
    &__mobile-menu {
      display: inline-block;
    }
  }
}
