@import "../utils/container.scss";
@import "../component/button.scss";
@import "../palette/palette.scss";

.section-six {
  padding: 60px 0px 0px;
  background-color: #181818;
  &__container {
    @include container-widths;
    margin: auto;
    &__header {
      width: max-content;
      font-size: 1.4rem;
      font-weight: 600;
      font-family: "Poppins";
      @include themedText;
    }
    &__body {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      justify-content: space-between;
      &__left {
        font-size: 4rem;
        font-weight: 600;
        font-family: "Poppins";
        color: white;
      }
      &__right {
        width: max-content;
        @include ornamentalBtn;
        &__btn {
          background-color: #ffffff;
          color: black;
        }
        margin-right: 16px;
      }
    }
    &__content {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 4%;
      &__item {
        z-index: 1;
        position: relative;
        width: 48%;
        color: white;
        img {
          width: 100%;
        }
        &__box {
          background-color: #181818;
          position: relative;
          padding: 12px 24px;
          top: -95px;
          left: 120px;
          width: calc(100% - 120px);
        }
        &__header {
          font-family: "Plus Jakarta Sans";
          font-size: 1.3rem;
          color: $secondary-colors-grey;
        }
        &__header-secondary {
          margin-top: 8px;
          font-weight: 600;
          font-family: "Poppins";
          font-size: 3rem;
          color: $secondary-colors-light;
        }
        &__content {
          font-weight: 500;
          font-family: "Plus Jakarta Sans";
          font-size: 1.6rem;
          color: $secondary-colors-grey;
          margin-top: 16px;
        }
        &__read-more {
          font-weight: 700;
          font-family: "Plus Jakarta Sans";
          font-size: 1.6rem;
          color: $greyscale-200;
          letter-spacing: 18%;
          display: flex;
          align-items: center;
          margin-top: 24px;
          cursor: pointer;
          width: max-content;
          &__icon {
            margin-left: 8px;
            width: 12px !important;
            height: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-six {
    &__container {
      &__body {
        &__left {
          font-size: 3.2rem;
        }
      }
      &__content {
        &__item {
          &__box {
            position: relative;
            top: -75px;
            left: 100px;
            width: calc(100% - 100px);
          }
        }
        & > div:nth-child(n + 3) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section-six {
    &__container {
      &__content {
        &__item {
          &__box {
            position: relative;
            top: -60px;
            left: 85px;
            width: calc(100% - 85px);
          }
        }
        & > div:nth-child(n + 3) {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .section-six {
    &__container {
      &__body {
        &__left {
          font-size: 2.8rem;
        }
      }
      &__content {
        &__item {
          width: 100%;
          margin-bottom: 0px;
          &__box {
            position: relative;
            top: -70px;
            left: 110px;
            width: calc(100% - 110px);
          }
        }
        & > div:nth-child(n + 3) {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .section-six {
    &__container {
      &__content {
        &__item {
          width: 100%;
          margin-bottom: 0px;
          &__box {
            position: relative;
            top: -55px;
            left: 80px;
            width: calc(100% - 80px);
          }
        }
        & > div:nth-child(n + 3) {
          display: none;
        }
      }
    }
  }
}
